@model TaskAuthenticationAuthorization.ViewModels.RegisterModel

<div class="register-wrapper" data-aos="fade-up">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        <div class="validation" asp-validation-summary="ModelOnly"></div>

        @Html.LabelFor(m => m.Email, "Enter email", new { @class = "email-label" })<br />
        @Html.TextBoxFor(m => m.Email, new { type = "email" })<br />

        @Html.LabelFor(m => m.Password, "Enter password")<br />
        @Html.TextBoxFor(m => m.Password, new {type="password"})<br />
        <span asp-validation-for="Password"></span>

        @Html.LabelFor(m => m.ConfirmPassword, "Confirm password")<br />
        @Html.TextBoxFor(m => m.ConfirmPassword, new {type="password"})<br />
        <span asp-validation-for="ConfirmPassword"></span>

      
        @Html.LabelFor(m => m.FirstName, "First Name")<br />
        @Html.TextBoxFor(m => m.FirstName)<br />
        <span asp-validation-for="FirstName"></span><br />
      

        @Html.LabelFor(m => m.LastName, "Last Name")<br />
        @Html.TextBoxFor(m => m.LastName)<br />
        <span asp-validation-for="LastName"></span><br />
        
        <input class="proceed-register" type="submit" value="Register" />
    }
</div>